@using CodeMechanic.Types
@model List<Resource>

@{
    var prop_names = typeof(Resource)
        .GetProperties()
        .Select(x => x.Name)
        .ToArray();
}

<div class="overflow-x-auto">
    <table class="table">
        <thead>
        <tr>
            <th></th>
            @foreach (var property_name in prop_names)
            {
                <th>@property_name</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach ((Resource item, int index) in @Model.WithIndex())
        {
            <tr>
                <th>@index</th>
                <td>@item.Type.Value</td>
                <td>@item.Name</td>
                <td>@item.State</td>
                <td>@item.StartTime</td>
                <td>@item.source</td>
                <td>@item.endpoints</td>
                <td>@item.logs</td>
                <td>@item.details</td>
            </tr>
        }
        </tbody>
    </table>
</div>